<!DOCTYPE html>

    <head>
      <%- include('./components/header.ejs') %>
    </head>

<body>
    <%- include('components/navbar.ejs')%>
    
    <div class='container text-center'>
      <h1 style='font-size: 220px;
                position: relative;
                display: inline-block;
                z-index: 2;
                height: 250px;
                letter-spacing: 10px;'>
        404
      </h1>
      <br>
      <a class='btn btn-primary' href='/' style="position: relative;
        display: inline-block;
        width: 358px;
        padding: 5px;
        z-index: 5;
        font-size: 25px;
        margin:0 auto;
        margin-right: 10px;"
        >Volta ao inicio</a>
    </div>
      
</body>