.sidebar, .extension{
  height: 100vh;
}
.sidebar{
  padding: 10px;
  background-color: #202225;
  overflow-y: hidden;
}

.sidebar::-webkit-scrollbar {
 width: 0px;
 height: 0px;
}
  
.sidebar::-webkit-scrollbar-track {
 background: transparent;
}
/*   
.sidebar::-webkit-scrollbar-thumb {
 background: #373d3da8;
 border-radius: 5px;
}
.sidebar::-webkit-scrollbar-corner{
  background: #373d3da8;  
} */
#wrapper{
  margin-right: 81px;
}
.extension{
  width: 275px;
  transition: .3s;
  opacity: 1;
  background-color: #2f3136;
}

.extension .large-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.extension .large-icon,
.extension img {
  font-size: xx-large;

  width: 96px;
  height: 96px;
}
.extension .abbr {
  padding-top: 25px;
}
.extension h4 {
  cursor: pointer;
}

.extension.closed {
  width: 0;
  padding: 0px 0;
}
.extension.closed {
  opacity: 0;
}
.guild-itens{
  border-radius: 50%;
  width: 52px;
  height: 52px;
  transition: all .35s;
  cursor: pointer;
  margin-bottom: 6px;
  justify-content: center;
  margin: 6px;
  background-color: #36393f;

}
.guild-itens:hover{
  border-radius: 20%;
}
.guild-image{
  width: 52px;
  height: 52px; 
  border-radius: 50%;
}

.ellipsis{
  display: flex;
}
.guild-acr{
  font-size: 14px;
  overflow: hidden;
 
  white-space: nowrap;
  text-overflow: ellipsis;
}
.guild-add{
  margin: 6px;
  font-size: 30px;
  color: #43b581;
  text-align: center;
  padding-top: 5px;
  background-color: #36393f;
  border-radius: 50%;
}
.guild-add:hover{
  background-color: #43b581;
  color: #fff;
}

.guild-seperator{
  height: 2px;
  width: 32px;
  background-color: #ffffff0f;
  border-color: #111720;

  border-radius: 1px;
  border-color: #111720;
}

.guild-blue:hover{
  background-color: #7289da
}


.user-avatar{
  transition: all ease .2s;
  cursor: pointer;
}
.user-avatar:hover{
  border-radius: 25%;
}
.guild-icon-extension{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #323134;
}